.price {
	font-weight: bold;
	font-size: 1.3em;
}
.btn {
	margin: 0;
}

.content {
	padding-top: 40px;
}

.card {
	margin: 20px 5px;
}

.card img {
	padding: 20px;
}

.card-block .list-group {
	box-shadow: 0 0 0 0;
}